<!DOCTYPE html>
<html>

<head>
    <title>Lí thuyết đồ thị</title>
    <link href="../../../css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="../../../css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link
        href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic'
        rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Playfair+Display:400,700,900,400italic,700italic,900italic'
        rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../../../css/font-awesome/css/font-awesome.min.css">
    <!-- js -->
    <script src="../../../js/jquery.min.js"></script>
    <!-- //js -->
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="dadv, dangvanda, đặng văn đa, Đặng Văn Đa, Đa Đặng, đa, Đa" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //for-mobile-apps -->
    <!-- start-smoth-scrolling -->
    <script type="text/javascript" src="../../../js/move-top.js"></script>
    <script type="text/javascript" src="../../../js/easing.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
            });
        });
    </script>
    <!-- start-smoth-scrolling -->
</head>

<body>
    <!-- header -->
    <div class="header">
        <div class="container">
            <div class="header-info">
                <div class="logo">
                    <div class="contact-right1">
                        <ul style="padding: 0;">
                            <li><a href="#" class="facebook"> </a></li>
                            <li><a href="#" class="twitter"> </a></li>
                            <li><a href="#" class="dribble"> </a></li>
                        </ul>
                    </div>
                </div>
                <div class="logo-right">
                    <span class="menu"><img src="../../../images/menu.png" alt=" " /></span>
                    <ul class="nav1">
                        <li><a href="../../../index.html">Trang chủ</a></li>
                        <li><a href="#" onclick="improvedFunction()">Khoảnh khắc</a></li>
                    </ul>
                </div>
                <div class="clearfix"> </div>
                <!-- script for menu -->
                <script>
                    $("span.menu").click(function () {
                        $("ul.nav1").slideToggle(300, function () {
                            // Animation complete.
                        });
                    });
                </script>
                <!-- //script for menu -->
            </div>
        </div>
    </div>
    <!-- //header -->
    <!-- single -->
    <div class="content sing">
        <div class="container">
            <div class="content-text cnt-txt">
                <div class="title">
                    <div class="some-title">
                        <h3>Lí thuyết đồ thị</h3>
                    </div>
                    <div class="john">
                        <p><a>Ngày đăng</a><span>04/06/2022</span></p>
                    </div>
                    <div class="clearfix"> </div>
                    <div class="tilte-grid">
                        <p class="Sed"><span>Trong toán học và tin học, <label>lý thuyết đồ thị </label> (tiếng Anh:
                                Graph theory) nghiên cứu các tính chất của đồ thị. Một cách không chính thức, đồ
                                thị là một tập các đối tượng được gọi là các đỉnh (hoặc nút) nối với nhau bởi các cạnh
                                (hoặc cung). Cạnh có thể có hướng hoặc vô hướng. Đồ thị thường được vẽ dưới dạng một tập
                                các điểm (các đỉnh nối với nhau bằng các đoạn thẳng (các cạnh).
                            </span>
                            <span> Đồ thị biểu diễn được rất nhiều cấu trúc, nhiều bài toán thực tế có thể được biểu
                                diễn
                                bằng đồ thị. Ví dụ, cấu trúc liên kết của một website có thể được biểu diễn bằng một đồ
                                thị có hướng như sau: các đỉnh là các trang web hiện có tại website, tồn tại một cạnh có
                                hướng nối từ trang A tới trang B khi và chỉ khi A có chứa 1 liên kết tới B. Do vậy, sự
                                phát triển của các thuật toán xử lý đồ thị là một trong các mối quan tâm chính của khoa
                                học máy tính.
                            </span>
                            <span> Cấu trúc đồ thị có thể được mở rộng bằng cách gán trọng số cho mỗi cạnh. Có thể sử
                                dụng
                                đồ thị có trọng số để biểu diễn nhiều khái niệm khác nhau. Ví dụ, nếu đồ thị biểu diễn
                                một mạng đường giao thông, các trọng số có thể là độ dài của mỗi con đường. Một cách
                                khác để mở rộng đồ thị cơ bản là quy định hướng cho các cạnh của đồ thị (như đối với các
                                trang web, A liên kết tới B, nhưng B không nhất thiết cũng liên kết tới A). Loại đồ thị
                                này được gọi là đồ thị có hướng. Một đồ thị có hướng với các cạnh có trọng số được gọi
                                là một lưới.
                            </span>
                            <span> Các lưới có nhiều ứng dụng trong khía cạnh thực tiễn của lý thuyết đồ thị, chẳng hạn,
                                phân tích lưới có thể dùng để mô hình hoá và phân tích mạng lưới giao thông hoặc nhằm
                                "phát hiện" hình dáng của Internet - (Xem thêm các ứng dụng đưới đây. Mặc dù vậy, cũng
                                nên lưu ý rằng trong phân tích lưới, thì định nghĩa của khái niệm "lưới" có thể khác
                                nhau và thường được chỉ ra bằng một đồ thị đơn giản.)
                            </span>
                        </p>
                    </div>
                    <div class="related-posts">
                        <h3>Các chủ đề</h3>
                        <div class="related-posts-grids">
                            <div class="related-posts-grid">
                                <a href="#"><img src="../../../images/5.jpg" alt=" " /></a>
                                <h4><a>Các khái niệm cơ bản</a></h4>
                                <p>
                                    <a href="./LTDT_Chuong01.pdf" target="_blank"><i class="fa fa-slideshare fa-lg"
                                            aria-hidden="true">&nbsp;</i>Slide</a>
                                    <a href="#" class="float-right"><i class="fa fa-youtube-play fa-lg"
                                            aria-hidden="true"></i>
                                        &nbsp;</i>Youtube</a>
                                </p>
                            </div>
                            <div class="related-posts-grid">
                                <a href="#"><img src="../../../images/7.jpg" alt=" " /></a>
                                <h4><a>Duyệt đồ thị theo chiều sâu</a></h4>
                                <p>
                                    <a href="#"><i class="fa fa-slideshare fa-lg" aria-hidden="true">&nbsp;</i>Slide</a>
                                    <a href="#" class="float-right"><i class="fa fa-youtube-play fa-lg"
                                            aria-hidden="true"></i>
                                        &nbsp;</i>Youtube</a>
                                </p>
                            </div>
                            <div class="related-posts-grid">
                                <a href="#"><img src="../../../images/6.jpg" alt=" " /></a>
                                <h4><a href="#">Duyệt đồ thị theo chiều rộng</a></h4>
                                <p>
                                    <a href="#"><i class="fa fa-slideshare fa-lg" aria-hidden="true">&nbsp;</i>Slide</a>
                                    <a href="#" class="float-right"><i class="fa fa-youtube-play fa-lg"
                                            aria-hidden="true"></i>
                                        &nbsp;</i>Youtube</a>
                                </p>
                            </div>
                            <div class="related-posts-grid">
                                <a href="#"><img src="../../../images/8.jpg" alt=" " /></a>
                                <h4><a href="#">Đường đi và chu trình Euler</a></h4>
                                <p>
                                    <a href="#"><i class="fa fa-slideshare fa-lg" aria-hidden="true">&nbsp;</i>Slide</a>
                                    <a href="#" class="float-right"><i class="fa fa-youtube-play fa-lg"
                                            aria-hidden="true"></i>
                                        &nbsp;</i>Youtube</a>
                                </p>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                        <div class="related-posts-grids">
                            <div class="related-posts-grid">
                                <a href="#"><img src="../../../images/6.jpg" alt=" " /></a>
                                <h4><a href="#">Đường đi và chu trình Hamilton</a></h4>
                                <p>
                                    <a href="#"><i class="fa fa-slideshare fa-lg" aria-hidden="true">&nbsp;</i>Slide</a>
                                    <a href="#" class="float-right"><i class="fa fa-youtube-play fa-lg"
                                            aria-hidden="true"></i>
                                        &nbsp;</i>Youtube</a>
                                </p>
                            </div>
                            <div class="related-posts-grid">
                                <a href="#"><img src="../../../images/8.jpg" alt=" " /></a>
                                <h4><a href="#">Thuật toán Dijkstra</a></h4>
                                <p>
                                    - Tìm đường đi ngắn nhất giữa hai đỉnh <br> - Tìm đường đi nhắn
                                    nhất từ một đỉnh tới tất cả các đỉnh còn lại </p>
                                <p>
                                    <a href="#"><i class="fa fa-slideshare fa-lg" aria-hidden="true">&nbsp;</i>Slide</a>
                                    <a href="#" class="float-right"><i class="fa fa-youtube-play fa-lg"
                                            aria-hidden="true"></i>
                                        &nbsp;</i>Youtube</a>
                                </p>
                            </div>
                            <div class="related-posts-grid">
                                <a href="#"><img src="../../../images/5.jpg" alt=" " /></a>
                                <h4><a href="#">Thuật toán Prim</a></h4>
                                <p>Bài toán tìm cây bao trùm/cây khung nhỏ nhất</p>
                                <p>
                                    <a href="#"><i class="fa fa-slideshare fa-lg" aria-hidden="true">&nbsp;</i>Slide</a>
                                    <a href="#" class="float-right"><i class="fa fa-youtube-play fa-lg"
                                            aria-hidden="true"></i>
                                        &nbsp;</i>Youtube</a>
                                </p>
                            </div>
                            <div class="related-posts-grid">
                                <a href="#"><img src="../../../images/7.jpg" alt=" " /></a>
                                <h4><a href="#">Thuật toán Kruskal</a></h4>
                                <p>Bài toán tìm cây bao trùm/cây khung nhỏ nhất</p>
                                <p>
                                    <a href="#"><i class="fa fa-slideshare fa-lg" aria-hidden="true">&nbsp;</i>Slide</a>
                                    <a href="#" class="float-right"><i class="fa fa-youtube-play fa-lg"
                                            aria-hidden="true"></i>
                                        &nbsp;</i>Youtube</a>
                                </p>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                    </div>
                </div>
                <div class="categories">
                    <div class="categ">
                        <div class="cat">
                            <h3>Chủ đề</h3>
                            <ul>
                                <li><a href="#">Lí thuyết đồ thị</a></li>
                                <li><a href="#" onclick="improvedFunction()">Toán rời rạc</a></li>
                                <li><a href="#" onclick="improvedFunction()">Cơ sở dữ liệu</a></li>
                                <li><a href="#" onclick="improvedFunction()">Cấu trúc dữ liệu và giải thuật</a></li>
                                <li><a href="#" onclick="improvedFunction()">Trí tuệ nhân tạo</a></li>
                                <li><a href="#" onclick="improvedFunction()">Tiếng Anh</a></li>
                            </ul>
                        </div>
                        <div class="cat">
                            <h3>Ngôn ngữ lập trình</h3>
                            <ul>
                                <li><a href="#" onclick="improvedFunction()">Java</a></li>
                                <li><a href="#" onclick="improvedFunction()">Python</a></li>
                                <li><a href="#" onclick="improvedFunction()">C++</a></li>
                            </ul>
                            <div class="view">
                                <a href="#">View More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <!-- single -->
    <div class="footer-bottom">
        <div class="container">
            <p>© Copyright 2022 by DaDV. All Right Reserved</p>
        </div>
    </div>
    <!-- here stars scrolling icon -->
    <script type="text/javascript">
        $(document).ready(function () {
            $().UItoTop({ easingType: 'easeOutQuart' });

        });
    </script>
    <!-- //here ends scrolling icon -->
</body>

</html>